---
layout: default
image-banner:
  image: https://images.unsplash.com/photo-1587463272361-565200f82b33?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
  position: 45% 50%
  heading: Gör dig bekant med oss på pensionatet!
  description:
  url:
  url-text: 
featured-text:
 - image: /images/hund-64.jpg
   title: Elektro
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quas sunt pariatur! Eius laudantium cumque voluptatum facere quos dolorem sint similique quibusdam velit, minima, nulla est neque cupiditate rem sequi?
   position: 50% 30%
 - image: /images/hund-34.jpg
   title: Warg
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quas sunt pariatur! Eius laudantium cumque voluptatum facere quos dolorem sint similique quibusdam velit, minima, nulla est neque cupiditate rem sequi?
   position: 80% 50%
 - image: /images/hund-28.jpg
   title: Waldemar
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quas sunt pariatur! Eius laudantium cumque voluptatum facere quos dolorem sint similique quibusdam velit, minima, nulla est neque cupiditate rem sequi?
   position: 50% 50%
about-me:
   image: /images/hund-60.jpg
   position: 50% 30%
   heading: Marita är mitt fantastiska namn
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex earum sunt, soluta, fuga, aperiam aliquam temporibus asperiores libero assumenda vel et animi adipisci dolore quo minima? Rem nam rerum officiis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolores obcaecati, cumque corporis eligendi deleniti? Maxime non officiis officia necessitatibus quod deleniti atque esse, perspiciatis, distinctio blanditiis pariatur nam ut
dogs:
  - title: Warg
    description: Den äldsta hunden är mina tre hundar. Han är den snällaste hunden du kan tänka dig.
    image: /images/hund-14.jpg
    position:  50% 50%
  - title: Waldermar
    description: Den yngsta hunden på gården med massa sprall i kroppen.
    image: /images/hund-13.jpg
    position:  50% 50%
  - title: Elektro
    description: Mellanhunden som är ledaren i flocken. Han är en bestämd hund.
    image: /images/hund-53.jpg
    position: 50% 50%
seo:
  title: Om Brantbrinks Hundpensionat
  description: "litet, gulligt hundpensionat. precis som hemma"
  keywords: "hundpensionat, stockholm, hemma, botkyrka, tullinge"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---
<!--------------------------- This is the grid with text and image --------------------------->
{% include image-banner.html %}

<!--------------------------- This is the section about Maritas dogs new --------------------------->
<section class="p-5p pb-0 bg-beige-color">
  <!-- <h2 class="text-6xl font-cursive-text justify-center items-center flex mb-10"> Hundarna som bor här permanent </h2> -->
  <div class="flex flex-wrap justify-center gap-10 ">
    {% for item in page.dogs %}

    <div class="min-w-50 min-h-50 box-shadow bg-beige-color text-middle-green-color p-5p pb-0 basis-1/4 shrink-0">
      <div class="min-h-20">
        <h3 class="uppercase text-4xl font-heading"> {{ item.title }} </h3>
        <p class="mt-5 font-normal"> {{ item.description }} </p>
      </div>
      <div class="min-h-40 bg-cover bg-center bg-middle-green-color my-15p" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
      </div>
    </div>

    {% endfor %}
  </div>
</section>

<!--------------------------- This is the section about Maritas dogs --------------------------->
<!-- <section class="p-5p bg-beige-color min-h-60"> 

    <h2 class="uppercase font-cursive-text text-4xl text-center text-green-color mb-5"> Lär känna oss som bor här! </h2>

    <div class="p-5">
        <div class="grid grid-cols-5 border-8 p-5p border-white gap-20">

            {% for item in page.featured-text %}
            {% if forloop.index == 1 or forloop.index == 3 %}

            <div class="col-span-3 min-h-60 bg-cover bg-center bg-green-color border-8 border-middle-green-color" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
            </div>
            <div class="col-span-2 justify-center flex flex-col text-center border-8 border-white p-15p"> 
                <h2 class="uppercase text-2xl text-green-color m-5"> {{ item.title }} </h2>
                <p class="text-green-color max-w-md"> {{ item.description }} </p>
            </div>

            {% else %}

            <div class="col-span-2 justify-center flex flex-col text-center border-8 border-middle-green-color p-15p"> 
                <h2 class="uppercase text-2xl text-green-color m-5"> {{ item.title }} </h2>
                <p class="text-green-color max-w-md"> {{ item.description }} </p>
            </div>
            <div class="col-span-3 min-h-60 bg-cover bg-center bg-green-color border-8 border-white" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
            </div>

            {% endif %}
            {% endfor %}

        </div>
    </div>

</section> -->

<!--------------------------- This is the section about Marita --------------------------->
<section class="p-5p bg-beige-color">
  <div class="grid grid-cols-2 gap-5">
    <div class="p-15p text-gray-600">
      <h3 class="text-4xl font-heading"> {{ page.about-me.heading }} </h3>
      <p class="my-5 font-normal"> {{ page.about-me.description }} </p>
    </div>

    <div class="min-h-90 bg-cover bg-center bg-middle-green-color" style="background-image: url('{{ page.about-me.image }}'); background-position:{{ page.about-me.position }}">
    </div>

  </div>
</section>

<!---------------- This is the contact section ---------------->
{% include contact-form.html %}

<!--------------------------- This is the scrolling image banner --------------------------->
<!-- <section class="bg-beige-color  m-0 p-0 slider-section">
    <div class="mx-auto max-w-full  text-center py-0 px-0">
  
          <div class="top-slider">
            <div class="slides">
              <div class="text-wrapper">
                <span>
                   <img src="/images/hund-11.jpg" alt="" class="max-h-5p"> 
                </span>
              </div>
              <div class="text-wrapper">
                <span>
                  <img src="/images/hund-13.jpg" alt="" class="max-h-5p"> 
                </span>
              </div>
              <div class="text-wrapper">
                <span>
                  <img src="/images/hund-41.jpg" alt="" class="max-h-5p"> 
                </span>
              </div>
              <div class="text-wrapper">
                <span>
                  <img src="/images/hund-39.jpg" alt="" class="max-h-5p"> 
                </span>
              </div>
              <div class="text-wrapper">
                <span>
                  <img src="/images/hund-52.jpg" alt="" class="max-h-25p"> 
                </span>
              </div>
            </div>
          </div>
  
          <div class="middle-slider">
            <div class="slides">
              <div class="text-wrapper">
                <img src="/images/hund-15.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-18.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-41.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-49.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-25.jpg" alt="" class="max-h-5p"> 
              </div>
            </div>
          </div>
  
          <div class="three-slide-slider">
            <div class="slides">
              <div class="text-wrapper">
                <img src="/images/hund-44.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-55.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-63.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-14.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-33.jpg" alt="" class="max-h-5p"> 
              </div>
            </div>
          </div> -->
  
        <!-- <div class="bottom-slider">
            <div class="slides">
              <div class="text-wrapper">
                <span> This is slide 1 </span>
              </div>
              <div class="text-wrapper">
                <span> This is slide 2 </span>
              </div>
              <div class="text-wrapper">
                <span> This is slide 3 </span>
              </div>
              <div class="text-wrapper">
                <span> This is slide 4 </span>
              </div>
              <div class="text-wrapper">
                <span> This is slide 5 </span>
              </div>
            </div>
          </div> -->
        <!-- </div>
</section> -->