---
layout: default
image-banner:
  image: https://images.unsplash.com/photo-1587463272361-565200f82b33?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
  position: 45% 50%
  heading: Gör dig bekant med oss på pensionatet!
  description:
  url:
  url-text:
featured-text:
 - image: /images/hund-64.jpg
   title: Elektro
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quas sunt pariatur! Eius laudantium cumque voluptatum facere quos dolorem sint similique quibusdam velit, minima, nulla est neque cupiditate rem sequi?
   position: 50% 30%
 - image: /images/hund-34.jpg
   title: Warg
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quas sunt pariatur! Eius laudantium cumque voluptatum facere quos dolorem sint similique quibusdam velit, minima, nulla est neque cupiditate rem sequi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam culpa placeat ut distinctio soluta accusantium aperiam consequuntur eos amet eveniet? Earum accusantium dignissimos tenetur error cum maiores ut incidunt sequi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nesciunt commodi cupiditate expedita, labore deleniti reiciendis autem doloribus explicabo nisi blanditiis alias non ipsam aspernatur nihil, architecto maiores. Laudantium, cupiditate.
   position: 80% 50%
 - image: /images/hund-28.jpg
   title: Waldemar
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quas sunt pariatur! Eius laudantium cumque voluptatum facere quos dolorem sint similique quibusdam velit, minima, nulla est neque cupiditate rem sequi?
   position: 50% 50%
about-me:
   image: /images/dog-bones.jpg
   position: 80% 50%
   heading: Marita är mitt fantastiska namn
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex earum sunt, soluta, fuga, aperiam aliquam temporibus asperiores libero assumenda vel et animi adipisci dolore quo minima? Rem nam rerum officiis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolores obcaecati, cumque corporis eligendi deleniti? Maxime non officiis officia necessitatibus quod deleniti atque esse, perspiciatis, distinctio blanditiis pariatur nam ut
   description-2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure assumenda consequatur harum, nulla sapiente totam, deserunt praesentium sunt debitis nesciunt, voluptatum laborum eius velit. Error doloremque eum nulla? Fuga, saepe? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis sint libero doloribus, nam saepe exercitationem dolores nulla ex ipsam laborum nobis ullam nihil adipisci. Commodi veniam soluta reiciendis laboriosam voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, maxime doloribus qui autem ratione earum perspiciatis at quod deserunt tempore veniam sit atque amet, iusto vel. Labore nemo commodi facere.
---
<!--------------------------- This is the grid with text and image --------------------------->
{% include image-banner.html %}

<!--------------------------- This is the section about Maritas dogs --------------------------->
<section class="p-5p bg-beige-color min-h-60 bg-cover bg-center"> 

    <h2 class="uppercase font-cursive-text text-4xl text-center text-green-color mb-5"> Lär känna oss som bor här! </h2>

    <div class="p-5">
        <div class="grid grid-cols-5 max-w-50 border-8 p-5p border-white gap-20">

            {% for item in page.featured-text %}
            {% if forloop.index == 1 or forloop.index == 3 %}

            <div class="col-span-3 min-h-60 bg-cover bg-center bg-green-color border-8 border-middle-green-color" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
            </div>
            <div class="col-span-2 justify-center items-center flex flex-col bg-beige-green-color text-center border-8 border-white p-15p"> 
                <h2 class="uppercase text-2xl text-green-color m-5"> {{ item.title }} </h2>
                <p class="text-green-color max-w-md"> {{ item.description }} </p>
            </div>

            {% else %}

            <div class="col-span-2 justify-center items-center flex flex-col bg-beige-color text-center border-8 border-middle-green-color p-15p"> 
                <h2 class="uppercase text-2xl text-green-color m-5"> {{ item.title }} </h2>
                <p class="text-green-color max-w-md"> {{ item.description }} </p>
            </div>
            <div class="col-span-3 min-h-60 bg-cover bg-center bg-green-color border-8 border-white" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
            </div>

            {% endif %}
            {% endfor %}

        </div>
    </div>

</section>

<!--------------------------- This is the section about Marita --------------------------->
<section>
    <div class="p-5">

        {% for item in page.about-me %}

        <div class="border-white border-8 mt-2 text-white mb-0">
            <h3 class="p-5p text-center text-4xl"> {{item.heading}} </h3>
            <p class="mb-5"> {{ item.description }} </p>
            <p> {{ item.description-2 }} </p>
        </div>

        <div class=" min-h-60 bg-cover bg-center bg-green-color border-8 border-white inline-block" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
        </div>

        {% endfor %}

    </div>
</section>

<!--------------------------- This is the scrolling image banner --------------------------->
<section class="bg-middle-green-color opacity-40 m-0 p-0 min-h-90 slider-section">
    <div class="m-auto w-full max-w-20 text-center py-0 px-0">
  
          <div class="top-slider">
            <div class="slides">
              <div class="text-wrapper">
                <span>
                   <img src="/images/hund-1.jpg" alt="" class="max-h-25p"> 
                </span>
              </div>
              <div class="text-wrapper">
                <span>
                  <img src="/images/hund-1.jpg" alt="" class="max-h-25p"> 
                </span>
              </div>
              <div class="text-wrapper">
                <span>
                  <img src="/images/hund-1.jpg" alt="" class="max-h-25p"> 
                </span>
              </div>
              <div class="text-wrapper">
                <span>
                  <img src="/images/hund-1.jpg" alt="" class="max-h-25p"> 
                </span>
              </div>
              <div class="text-wrapper">
                <span>
                  <img src="/images/hund-1.jpg" alt="" class="max-h-25p"> 
                </span>
              </div>
            </div>
          </div>
  
          <div class="middle-slider">
            <div class="slides">
              <div class="text-wrapper">
                <img src="/images/hund-2.jpg" alt="" class="max-h-25p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-2.jpg" alt="" class="max-h-25p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-2.jpg" alt="" class="max-h-25p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-2.jpg" alt="" class="max-h-25p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-2.jpg" alt="" class="max-h-25p"> 
              </div>
            </div>
          </div>
  
          <div class="three-slide-slider">
            <div class="slides">
              <div class="text-wrapper">
                <img src="/images/hund-4.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-4.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-4.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-4.jpg" alt="" class="max-h-5p"> 
              </div>
              <div class="text-wrapper">
                <img src="/images/hund-4.jpg" alt="" class="max-h-15p"> 
              </div>
            </div>
          </div>
  
          <!-- <div class="bottom-slider">
            <div class="slides">
              <div class="text-wrapper">
                <span> This is slide 1 </span>
              </div>
              <div class="text-wrapper">
                <span> This is slide 2 </span>
              </div>
              <div class="text-wrapper">
                <span> This is slide 3 </span>
              </div>
              <div class="text-wrapper">
                <span> This is slide 4 </span>
              </div>
              <div class="text-wrapper">
                <span> This is slide 5 </span>
              </div>
            </div>
          </div> -->
  
        </div>
</section>
