---
layout: default
banner-image:
  image: /images/hund-2.jpg
  position: 50% 5%
  header: Heading som jag ej vet vad
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate porro quia suscipit non itaque libero veniam earum nesciunt? Sunt nemo beatae, tempore officiis reiciendis voluptas inventore iusto aperiam in numquam!
price-cards:
 - dogs: 1 hund
   week: mån - fre
   week-price: 350
   weekend: lör - sön
   weekend-price: 400
 - dogs: 2 hundar
   week: mån - fre
   week-price: 450
   weekend: lör - sön
   weekend-price: 500
 - dogs: 3 hundar
   week: mån - fre
   week-price: 550
   weekend: lör - sön
   weekend-price: 600
about-image: /images/hund-1.jpg
seo:
  title: Brantbrinks hundpensionat
  description: "litet, gulligt hundpensionat. precis som hemma"
  keywords: "hundpensionat, stockholm, hemma, botkyrka"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---

<!---------------- This is the big image-banner on the top of the page ---------------->
{% include hero-banner.html %}

<!---------------- This is the cards with prices ---------------->
<section class="p-5p text-center bg-light-color">
  <h2 class="uppercase font-cursive-text mb-10"> <span> <hr> </span> Priser <span> <hr> </span> </h2>
  
  <div class="grid grid-cols-3 gap-10 min-h-[20vh]">

    {% for item in page.price-cards %}

      {% include price-cards.html %}
     
    {% endfor %}

  </div>
</section>

<!---------------- This is the about section ---------------->
<section class="">
  <div>
    <h2> Om </h2>
  </div>
  <div class="grid grid-cols-3 min-h-60">
    <div class="col-span-1"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, nam quaerat ipsam enim consequuntur eos labore dolorum deserunt ducimus, expedita iste corrupti nesciunt nisi maxime iure ut ullam accusamus et.</div>
    <div class="col-span-2 relative">
      <img src="{{ page.about-image }}" alt="" class="absolute inset-0 w-full h-full object-cover object-center">
    </div>
  </div>  
</section>