---
layout: default
banner-image:
  image: /images/hund-4.jpg
  position: 50% 5%
  header: Heading som jag ej vet vad
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate porro quia suscipit non itaque libero veniam earum nesciunt? Sunt nemo beatae, tempore officiis reiciendis voluptas inventore iusto aperiam in numquam!
price-grid:
 - image: /images/hund-13.jpg
   dogs: 1 hund
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus velit ex sit inventore minima iusto cumque ab error ea, minus dolor esse repellat eius atque quod architecto quae explicabo tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, inventore dignissimos est at voluptatum pariatur alias! Eligendi quas perspiciatis expedita, inventore repellendus natus debitis tempore voluptate delectus eos? Tenetur, magnam?
   week: måndag - fredag
   week-price: 350
   weekend: lördag - söndag
   weekend-price: 400
 - image: /images/hund-24.jpg
   dogs: 2 hundar
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus velit ex sit inventore minima iusto cumque ab error ea, minus dolor esse repellat eius atque quod architecto quae explicabo tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, inventore dignissimos est at voluptatum pariatur alias! Eligendi quas perspiciatis expedita, inventore repellendus natus debitis tempore voluptate delectus eos? Tenetur, magnam?
   week: måndag - fredag
   week-price: 450
   weekend: lördag - söndag
   weekend-price: 500
 - image: /images/hund-16.jpg
   dogs: 3 hundar
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus velit ex sit inventore minima iusto cumque ab error ea, minus dolor esse repellat eius atque quod architecto quae explicabo tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, inventore dignissimos est at voluptatum pariatur alias! Eligendi quas perspiciatis expedita, inventore repellendus natus debitis tempore voluptate delectus eos? Tenetur, magnam?
   week: måndag - fredag
   week-price: 550
   weekend: lördag - söndag
   weekend-price: 600
---

{% include hero-banner.html %}

<!---------------- This is price info ---------------->
<section class="p-5p text-center text-white bg-middle-green-color">
    <h2 class=" text-2xl uppercase font-cursive-text mb-10 text-green-color"> Priser </h2>

        {% for item in page.price-grid %}
        <div class="flex {% cycle 'flex-row','flex-row-reverse' %} p-5 text-white gap-10">
            <div class="min-h-50 bg-cover bg-center basis-1/2" style="background-image: url('{{ item.image }}'); background-position:{{ page.banner-image.position }}" >
            </div>
            <div class=" border-2 border-green-color min-h-50 flex flex-col justify-center basis-1/2 p-5 uppercase">
                <h2 class="text-3xl pb-10"> {{ item.dogs }} </h2>
                <p class="pb-5 capitalize"> {{ item.description }} </p>
                <p class="pb-3"> {{ item.week }} <span class="ml-5"> {{ item.week-price }} kr </span>  </p>
                <p class=""> {{ item.weekend }} <span class="ml-5"> {{ item.weekend-price }} kr  </span> </p>
            </div>
        </div>
        {% endfor %}
            
  </section>

<!---------------- This is additional price info ---------------->
<section class="p-5p">
    <div class="grid grid-cols-2 px-5p min-h-50 items-center">
        <div class="rounded-full aspect-square bg-cover bg-center w-[85%] p-5p" style="background-image: url('/images/hund-2.jpg'); background-position:{{ page.banner-image.position }}"> 
        </div>
    
        <div class=""> 
            <h2 class="text-2xl pl-5p uppercase"> din hund i fokus. </h2>
            <ul class="list-disc p-5p">
                <li class="mb-3"> Priserna gäller per påbörjat dygn </li>
                <li class="mb-3"> 150 kr tillägg för afton och röda dagar </li>
                <li class="mb-3"> Vid fler än en hund från samma familj gäller ovanstående prislista under förutsättning att hundarna kan vistas i samma box </li>
                <li class="mb-3"> Betalning sker i förskott  7 dagar innan vistelsen  på företagets plusgirokonto <br> Nordea 570235-2, uppge hundens namn samt vistelsetid </li>
            </ul>    
        </div>
    </div>
</section>

<!---------------- This is the image on above the footer ---------------->
<section class="">
    <div class="bg-cover bg-center min-h-50" style="background-image: url('https://images.unsplash.com/photo-1561133211-6067fc8e7348?q=80&w=2930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position:{{ page.banner-image.position }}">
    </div>
</section>

