---
layout: default
banner-image:
  image: /images/hund-4.jpg
  position: 50% 5%
  header: Heading som jag ej vet vad
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate porro quia suscipit non itaque libero veniam earum nesciunt? Sunt nemo beatae, tempore officiis reiciendis voluptas inventore iusto aperiam in numquam!
price-cards:
 - image: https://images.unsplash.com/photo-1665854643349-6ef95bbe21f2?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
   dogs: 1 hund
   week: måndag - fredag
   week-price: 350
   weekend: lördag - söndag
   weekend-price: 400
 - image: https://images.unsplash.com/photo-1525512953-2530e89e5843?q=80&w=1774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
   dogs: 2 hundar
   week: måndag - fredag
   week-price: 450
   weekend: lördag - söndag
   weekend-price: 500
 - image: https://images.unsplash.com/photo-1621157213045-28d209de0e7a?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
   dogs: 3 hundar
   week: måndag - fredag
   week-price: 550
   weekend: lördag - söndag
   weekend-price: 600
---

{% include hero-banner.html %}

<section class="p-5p text-center text-white">
    <h2 class=" text-2xl uppercase font-cursive-text mb-10 text-dark-color"> Priser </h2>
    <div class="flex flex-row justify-center gap-10 min-h-[20vh]">
  
      {% for item in page.price-cards %}
  
        {% include price-cards.html %}
    
      {% endfor %}
  
    </div>
    <div class="mt-5">
      <a href="#" class="uppercase font-headings-text bg-dark-color hover:bg-white text-white hover:text-featured-color py-2 px-7 inline-block mt-6">
      mer info </a>
    </div>
  </section>
  

<section class="p-5p">
    <div class="grid grid-cols-2 px-5p min-h-50 items-center">
        <div class="rounded-full aspect-square bg-cover bg-center w-[85%] p-5p" style="background-image: url('/images/hund-2.jpg'); background-position:{{ page.banner-image.position }}"> 
        </div>
    
        <div class=""> 
            <h2 class="text-2xl pl-5p uppercase"> din hund i fokus. </h2>
            <ul class="list-disc p-5p">
                <li class="mb-3"> Priserna gäller per påbörjat dygn </li>
                <li class="mb-3"> 150 kr tillägg för afton och röda dagar </li>
                <li class="mb-3"> Vid fler än en hund från samma familj gäller ovanstående prislista under förutsättning att hundarna kan vistas i samma box </li>
                <li class="mb-3"> Betalning sker i förskott  7 dagar innan vistelsen  på företagets plusgirokonto <br> Nordea 570235-2, uppge hundens namn samt vistelsetid </li>
            </ul>    
        </div>
    </div>
</section>

<section class="">
    <div class="bg-cover bg-center min-h-50" style="background-image: url('https://images.unsplash.com/photo-1561133211-6067fc8e7348?q=80&w=2930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-position:{{ page.banner-image.position }}"> 

    </div>
</section>

<section>
    <div></div>
    <div></div>
</section>

