---
layout: default
faqs-parttwo:
 - image: /images/hund-2.jpg
   title: Jag bryr mig om din hund och dens välbefinnande.
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quas sunt pariatur! Eius laudantium cumque voluptatum facere quos dolorem sint similique quibusdam velit, minima, nulla est neque cupiditate rem sequi?
   position: 50% 0%
 - image: /images/hund-2.jpg
   title: Jag bryr mig om din hund och dens välbefinnande.
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quas sunt pariatur! Eius laudantium cumque voluptatum facere quos dolorem sint similique quibusdam velit, minima, nulla est neque cupiditate rem sequi?
   position: 50% 0%
 - image: /images/hund-2.jpg
   title: Jag bryr mig om din hund och dens välbefinnande.
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate quas sunt pariatur! Eius laudantium cumque voluptatum facere quos dolorem sint similique quibusdam velit, minima, nulla est neque cupiditate rem sequi?
   position: 50% 0%
licenser:
  - title: Kungliga hundskolan
    description: Treårig utbildning för kungliga hundar
    background: Älskar djur sedan barnsben
  - title: Corgi skolans universitet
    description: Corgiparadiset på distansutbildning
  - title: Valpiga möjligheter
    description: Omhändertagande av hundvalpar
  - title: Den rutiga hundens skola
    description: Lär dig allt om att äga en hund
  - title: Valpiga möjligheter
    description: Omhändertagande av hundvalpar
  - title: Den rutiga hundens skola
    description: Lär dig allt om att äga en hund
scroll-banner-image:
  image: /images/hund-2.jpg
  position: 50% 5%
  heading: Marita är bäst!
  sub-heading: Lorem ipsum dolor sit amet consectetur.
---         
<!--------------------------- This is the grid with text and image --------------------------->
<section class="min-h-60 bg-fixed bg-cover bg-center" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
  <div class="grid grid-cols-5">
    {% for item in page.faqs-parttwo %}
    <div class="col-span-2 justify-center items-center text-center flex flex-col bg-middle-green-color rounded-full m-5"> 
      <h2 class="uppercase text-2xl text-green-color m-5"> {{ item.title }} </h2>
      <p class="max-w-xl text-green-color"> {{ item.description }} </p>
    </div>
    <div class="col-span-3 min-h-60 bg-fixed bg-cover bg-center bg-green-color" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
    </div>
    {% endfor %}
  </div>
</section>

<!--------------------------- This is the grid with text and image - different sides --------------------------->
<!-- <section>
  <div class="grid grid-cols-5">
    {% for item in page.faqs-parttwo %}
      {% if forloop.index == 1 or forloop.index == 3 %}
        <div class="col-span-3 min-h-60 bg-fixed bg-cover bg-center bg-green-color" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
        </div>
        <div class="col-span-2 justify-center items-center flex flex-col bg-middle-green-color rounded-full"> 
          <h2 class="uppercase text-2xl text-green-color m-5"> {{ item.title }} </h2>
          <p class="max-w-xl text-green-color"> {{ item.description }} </p>
        </div>
      {% else %}
        <div class="col-span-2 justify-center items-center flex flex-col bg-middle-green-color rounded-full"> 
          <h2 class="uppercase text-2xl text-green-color m-5"> {{ item.title }} </h2>
          <p class="max-w-xl text-green-color"> {{ item.description }} </p>
        </div>
        <div class="col-span-3 min-h-60 bg-fixed bg-cover bg-center bg-green-color" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section> -->

<!--------------------------- Faq's --------------------------->
<section class="p-15p text-center bg-middle-green-color">
  <div class="max-screen-2xl mx-auto">
      <h3 class="font-cursive-text text-4xl uppercase text-green-color mb-8"> Faq's </h3>
  
      {% for item in page.data.faqs %}
      <div class="flex justify-between border-t-2 last:border-b-2 py-8 uppercase text-white">
          <h4 class="m-0 text-xl"> {{ item.question }} </h4>
          <p class="m-0 max-w-lg"> {{ item.answer }} </p>
      </div>
      {% endfor %}
      
  </div>
</section>

<!-- det här är bara en test -->
<!-- <section class="p-15p text-center bg-middle-green-color min-h-screen">
  <div x-data="{ openTab: 0 }">
    <h3 class="font-cursive-text text-4xl uppercase text-green-color mb-8"> Faq's </h3>

    {% for item in page.faqs %}
    <div x-show="openTab === {{ loop.index }}">
      <div class="flex justify-between border-t-2 last:border-b-2 py-8 uppercase text-white cursor-pointer"
           @click="openTab = (openTab === {{ loop.index }} ? 0 : {{ loop.index }})">
        <h4 class="m-0 text-xl"> {{ item.question }} </h4>
      </div>
      <p class="m-0 max-w-lg" x-show="openTab === {{ loop.index }}"> {{ item.answer }} </p>
    </div>
    {% endfor %}
  </div>
</section> -->

<!--------------------------- This is the part with licenser and stuff --------------------------->
<section class="p-5p bg-middle-green-color text-green-color">
  <h2 class="uppercase text-4xl font-cursive-text justify-center items-center flex mb-5p"> Förhållningsregler </h2>
  <div class="grid grid-cols-4 gap-10">
    {% for item in page.licenser %}
    <div class="min-h-50 box-shadow bg-light-green-color text-green-color max-w-sm p-5p">
      <h3> {{ page.licenser.title }} </h3>
      <p> {{ page.licenser.description }} </p>
    </div>
    {% endfor %}
  </div>
</section>

<!--------------------------- This is the scrolling image --------------------------->
<section class="min-h-70 bg-fixed flex items-center justify-center bg-cover bg-center" style="background-image: url('{{ page.scroll-banner-image.image }}'); background-position:{{ page.scroll-banner-image.position }}">
  <div class="md:w-[50%] p-8 text-center">
    <h2 class=""> {{ page.scroll-banner.heading}} </h2>
    <h3 class=""> {{ page.scroll-banner.sub-heading }} </h3>
  </div>
</section> 
