---
layout: default
banner: 
   image: /images/hund-2.jpg
   position: 50% 0%
featured:
  image: /images/hund-2.jpg
  title: Frågor och svar
  description: Funderar du över något kanske din fråga är besvarad här nedanför - om inte kan du kontakta mig här.
  url: /contact.html
  url-text: Kontakt!
  position: 50% 0%
scroll-banner:
  image: /images/hund-2.jpg
  position: 50% 5%
  heading: Marita är bäst!
  sub-heading: Lorem ipsum dolor sit amet consectetur.
seo:
  title: Regler på Pensionatet
  description: "litet, gulligt hundpensionat. precis som hemma"
  keywords: "hundpensionat, stockholm, hemma, botkyrka"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---         
<!--------------------------- This is the banner with text and image --------------------------->
<section class="min-h-90 bg-fixed bg-cover bg-center" style="background-image: url('{{ page.banner.image }}'); background-position:{{ page.banner.position }}">

    <div class="flex flex-col justify-center min-h-90 text-beige-color p-5p"> 
      <h2 class="uppercase text-4xl mb-5 font-cursive"> {{ page.featured.title }} </h2>
      <p class="max-w-xl font-normal mb-5"> {{ page.featured.description }} </p>
      <a href=" {{ page.featured.url }} " class="uppercase font-heading bg-white hover:bg-green-color text-green-color hover:text-white py-2 px-7 inline-block max-w-fit"> {{ page.featured.url-text }} </a>
    </div>

</section>

<!--------------------------- This is the grid with text and image - if you want to have image/text on different sides --------------------------->
<!-- <section>
  <div class="grid grid-cols-5">
    {% for item in page.featured-text %}
      {% if forloop.index == 1 or forloop.index == 3 %}
        <div class="col-span-3 min-h-60 bg-fixed bg-cover bg-center bg-green-color" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
        </div>
        <div class="col-span-2 justify-center items-center flex flex-col bg-middle-green-color rounded-full"> 
          <h2 class="uppercase text-2xl text-green-color m-5"> {{ item.title }} </h2>
          <p class="max-w-xl text-green-color"> {{ item.description }} </p>
        </div>
      {% else %}
        <div class="col-span-2 justify-center items-center flex flex-col bg-middle-green-color rounded-full"> 
          <h2 class="uppercase text-2xl text-green-color m-5"> {{ item.title }} </h2>
          <p class="max-w-xl text-green-color"> {{ item.description }} </p>
        </div>
        <div class="col-span-3 min-h-60 bg-fixed bg-cover bg-center bg-green-color" style="background-image: url('{{ item.image }}'); background-position:{{ item.position }}">
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section> -->

<!--------------------------- Faq's --------------------------->
<section class="p-5p bg-beige-color">
  <h3 class="font-cursive text-4xl uppercase text-green-color mb-16 justify-center items-center flex"> Faq's </h3>
  <div class="max-w-screen-xl mx-auto border-middle-green-color border-2 p-5p">

      {% include accordion.html  accordion-source=site.data.faqs %}

  </div>
</section>

<!--------------------------- This is the scrolling image --------------------------->
<section class="min-h-70 bg-fixed bg-cover bg-center" style="background-image: url('{{ page.scroll-banner.image }}'); background-position:{{ page.scroll-banner.position }}">
  <div class="p-8 text-white">
    <h2 class="text-4xl font-cursive mb-2"> {{ page.scroll-banner.heading }} </h2>
    <h3 class="text-lg font-normal"> {{ page.scroll-banner.sub-heading }} </h3>
  </div>
</section> 