
/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
}

/*---------------- This is the blurry part of the hero-banner ----------------*/
.blurred-background {
  background-size: cover;
  backdrop-filter: blur(1px); /* Adjust the blur level as needed */
  background-color: rgba(158, 183, 157, 0.4) /* Adjust the alpha channel for transparency */
}

/*---------------- This is for opacity on nav when scrolling ----------------*/
.bg-beige-color-opacity {
  background-color: rgba(50, 100, 50, 0.5); /* Set your desired opacity value */
}


.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}