<!---------------- This is the big hero-banner image on the home page ---------------->
<section class="bg-cover bg-center p-5p text-blue-color " style="background-image: url('{{ page.banner-image.image }}'); background-position:{{ page.banner-image.position }}"> 

    <!------ You need the min-h class on the div that's holding the text to give it space to move around ------>
    <div class="max-w-screen-2xl min-h-60">
        <h2 class="max-w-md text-6xl mb-6 font-cursive-text">  {{ page.banner-image.header }} </h2>
        <p class="max-w-md text-2xl font-headings-text">  {{ page.banner-image.text }} </p>
    </div>

</section>