https://unsplash.com/photos/white-short-coated-dog-lying-on-white-textile-EpRAM95thHU

<section class="bg-cover bg-center p-5p text-white" style="background-image: url('{{ page.block-image.image }}'); background-position:{{ page.block-image.position }}"> 
    <!------ You need the min-h class on the div that's holding the text to give it space to move around ------>
    <div class="max-w-screen-2xl min-h-60 flex items-end">
        <h2 class="max-w-md text-5xl">  "{{ page.block-image.text }}" </h2>
    </div>
</section>