<!---------------- This is the big image banner on top of the page ---------------->
<section class="bg-cover bg-center bg-light-color" style="background-image: url('{{ page.image-banner.image }}'); background-position:{{ page.banner-image.position }}"> 

    <!------ You need the min-h class on the div that's holding the text to give it space to move around ------>
    <div class="max-w-screen-3xl min-h-90 blurred-background grid grid-cols-2 text-white">
        <div class="items-center flex col-span-2 flex-col justify-center">
            <h2 class="p-5 text-7xl mb-6 font-cursive"> {{ page.image-banner.heading }} </h2>
            <p class="max-w-md text-2xl font-normal">  {{ page.image-banner.description }} </p>
            {% if page.image-banner.url %}
            <a href=" {{ page.image-banner.url }} " class="uppercase font-heading bg-white col-span-2 flex hover:bg-green-color text-green-color hover:text-white py-2 px-7 inline-block max-w-fit"> {{ page.image-banner.url-text }} </a>
            {% endif %}
        </div>
    </div>
</section>

