<div class=" min-h-50 bg-middle-green-color flex flex-col basis-1/3 justify-center rounded-3xl">

    <div class="relative min-h-50">
        <img src="{{ item.image }}" alt="" class="absolute inset-0 w-full h-full object-cover object-center rounded-t-3xl">
    </div>
    <div class="p-5p uppercase">
        <h4 class="text-3xl pb-10 pt-8 font-cursive-text"> {{ item.dogs }} </h4>
        <p class="pb-3"> {{ item.week }} <span class="ml-5"> {{ item.week-price }} kr </span>  </p>
        <p class="pb-10"> {{ item.weekend }} <span class="ml-5"> {{ item.weekend-price }} kr  </span> </p>
        <!-- <p class="pt-10"> priserna gäller per dag </p> -->
    </div>

</div>
