<header class="flex justify-between px-5 py-3 bg-white text-featured-color sticky top-0 z-10">

        <nav class="flex items-center uppercase">
            <a href="/index.html" class="inline-block px-3 py-2 mr-3 hover:text-dark-color"> hem </a>
            <a href="/om.html" class="inline-block px-3 py-2 hover:text-dark-color"> om pensionatet </a>
        </nav>
    
        <h1 class="text-4xl uppercase font-headings-text"> 
            <a href="/index.html"> Brantbrinks hundpensionat </a>
        </h1>
    
        <nav class="flex items-center uppercase">
            <a href="/priser.html" class="inline-block px-3 py-2 mr-3 hover:text-dark-color"> priser </a>
            <a href="/regler.html" class="inline-block px-3 py-2 hover:text-dark-color"> regler </a>
        </nav>

</header>