<footer class="bg-middle-green-color p-5p py-5 text-white"> 

    <div class="flex flex-row justify-between">

        <div class="p-4 col-span-4">
          <a href="#" class="text-2xl mb-4 block tracking-wide font-headings-text uppercase"> brantbrinks <br> hundpensionat </a>
          <p class="uppercase"> dahlströmsevägen 5</p>
          <p class="uppercase"> 146 38 tullinge</p>
          <a href="tel: +460737354173" class="uppercase"> 0737354173 </a>
        </div> 
  
        <div class=" flex flex-col justify-end">
            <nav class="p-4">
                <h2 class="uppercase mb-4">  </h2>
                <a href="/about.html" class="block uppercase"> om pensionatet </a>
                <a href="/price.html" class="block uppercase"> priser </a>
                <a href="/rules.html" class="block uppercase"> regler </a>
           </nav> 
        </div>

    </div>
</footer>

<section class="bg-middle-green-color text-center p-5">
   <p> Website and Design by <a href="#" class="text-white"> kiilu creative </a>  </p> 
</section>