<footer class="bg-middle-green-color p-5p py-5 text-white"> 

    <div class="flex flex-row justify-between">

        <div class="p-4 col-span-4">
          <a href="#" class="text-2xl mb-4 block tracking-wide font-headings-text uppercase"> brantbrinks <br> hundpensionat </a>
          <p class="capitalize"> dahlströmsevägen 5</p>
          <p class="capitalize"> 146 38 tullinge</p>
          <a href="tel: +460737354173"> 0737354173 </a>
        </div> 
  
        <div class=" flex flex-col justify-end">
            <nav class="p-4">
                <h2 class="uppercase mb-4">  </h2>
                <a href="/om.html" class="block uppercase"> om pensionatet </a>
                <a href="/priser.html" class="block uppercase"> priser </a>
                <a href="/regler.html" class="block uppercase"> regler </a>
           </nav> 
        </div>

    </div>
</footer>