<!DOCTYPE html>
<html lang="en">
<head>

<!---------------- This is the include for all the metadata, fonts etc. ---------------->
{% include head.html %}

</head>

<body>
    <!---------------- This is the nav on the top of every page ---------------->
    {% include site-header-nav.html %}

    {{ content }}

    <!---------------- This is the footer of every page ---------------->
    {% include site-footer.html %}

<!---------------- This is the script for alpine ---------------->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>

</body>
</html>